@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src:  url("../fonts/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:  url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src:  url("../fonts/OpenSans-ExtraBold.ttf") format('truetype');
}


body {
    background: linear-gradient(to bottom, #F6F2F2 45%, white 45% 100%);
    font-family: 'Open Sans', sans-serif;
 }

header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1249px;
    background: #000000;
    min-height: 89px;
}

.items-header {
    width: 100%;
    height: 100%;
}

.services {
    min-height: 89px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.services li{
    height: 89px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.service {
    padding: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.49px;
    color: #E0E0E0;
    display: flex;
    align-items: center;
}

.service:hover {
    background: #FF3F40;
}


main {
    min-height: calc(100vh - 113px);
    margin-left: auto;
    margin-right: auto;
    max-width: 1579px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-section {
    max-width: 1253px;
    min-height: 259px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}


.header1-main {
    margin-top: 78px;
    margin-bottom: 0px;
    max-width: 618px;
    min-height: 100px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 1.5px;
}

.p-main {
    margin-top: 14px;
    margin-bottom: 77px;
    max-width: 544.85px;
    min-height: 73px;
    font-size: 15.99px;
    font-weight: 400;
}

.div-text > a{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    background: #FF2D2D;
    padding: 14.39px 63px;
    text-decoration: none;
    border-radius: 5px;
}

.img-office {
    margin-top: 103px;
    flex: 0 1 550px;
}

.img-office > img {
    width: 100%;
    height: 100%;
}

.present-ent {
    margin-top: 110px;
    max-width: 1284px;
    min-width: 588px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.adic-info {
    align-self: start;
    max-width: 539px;
    padding-right: 117px;
}

.adic-info > h2 {
    font-size: 42px;
    font-weight: bold;
    line-height: 55px;
    text-transform: uppercase;
    letter-spacing: 0.422px;
}

.adic-info > p {
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 64px;
}

.adic-info > a {
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.31px;
    color: #FF2D2D;
    text-decoration: none;
    padding: 16px 75px;
    border: 2px solid #FF0000;
    border-radius: 5px;
}


.cards-items {
    max-width: 661px;
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    display: block;
    flex: 1 1 250px;
    flex-wrap: wrap;
    padding: 25px 20px;
    max-width: 301px;
}

.card-item > h4 {
    margin: 30px 0 13px 0;
}

.card-item > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    padding: 0;
}

.grey-line {
    width: 1251px;
    height: 5px;
    background: #ECECEC;
    border:solid #ECECEC;
}

.top-products {
    margin-left: auto;
    margin-right: auto;
    max-width: 1432px;
    min-height: 930px;
}

.products-desc {
    min-height: 150px;
    margin-bottom: 86px;
}

.products-desc > h2 {
    max-width: 455px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    text-transform: uppercase;
    font-size: 41.9876px;
    line-height: 0px;
    font-weight: bold;
}

.products-desc > p {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.orange-line {
    background: #FF2D2D;
    max-width: 134px;
    min-height: 5px;
    border: solid #FF2D2D;
}

.products-items {
    max-width: 922px;
    min-height: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.products-items > li {
    list-style: none;
}

.products-items > li > a {
   text-decoration: none;
   color: #000;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 22px;
   line-height: 24px;
   letter-spacing: 0.22px;

}

.products-link:hover {
    color: #FF2D2D;
}

.meet-team {
   max-width: 1350px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 80px;
   display: flex;
   flex-direction: column;
}

.meet-team > hr {
    margin: 0 0 50px 0;
}

.meet-team > h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
}

.meet-team > p {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    max-width: 479px;
    min-height: 73px;
}

.meet-item {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.meet-desc {
    width: 850px;
    height: 462px;
    padding-left: 50px;
}


.meet-desc > h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 0px;
    letter-spacing: 0.275px;
}

.meet-desc > p {
    max-width: 662px;
    min-height: 45px;
}


.contact-team {
   max-width: 401px;
   min-height: 24px;
   margin-top: 45px;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.contact-team > li {
    list-style: none;
}

.contact-team > li > a {
   color: #000000;
   font-style: italic;
   font-weight: normal;
   font-size: 18px;
   text-decoration: none;
   line-height: 24px;
}

.team-photos {
    min-height: 270px;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.team-photo1 {
    max-width: 199px;
    min-height: 217px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.team-name {
    position: absolute;
    width: 199px;
    height: 37px;
    text-align: center;
    padding-top: 10px;
    visibility: hidden;
    opacity: 0;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 18.0762px;
    font-weight: 600;
}

.team-photo1:hover .team-name {
  visibility: visible;
  opacity: 0.6;
}

.email-form {
    background: #2C2C2C;;
    width: 100%;
    min-height: 516px;
    margin-bottom: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-form > h2 {
    margin-top: 150px;
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1.05px;
}

.email-form > p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 56px 0;
    line-height: 28px;
}

.email-input {
    width: 524px;
    height: 82px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 38px;
}

.submit-email {
    background: #FF2D2D;
    width: 217px;
    height: 82px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-left: 19px;
}


footer {
    background: #313030;
    margin-left: auto;
    margin-right: auto;
    min-height: 113px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copy-text {
    color:  #B8B8B8;
}

.logo-footer > a {
    text-decoration: none;
}

.logo-img {
    padding-right: 18px;
}

@media (max-width: 600px) {
    body {
        min-width: 350px;
    }
    .service {
        padding: 0 10px;
    }
    .div-text {
        min-width: 350px;
        word-wrap: break-word
    }
}