@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src:  url("../fonts/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:  url("../fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src:  url("../fonts/OpenSans-ExtraBold.ttf") format('truetype');
}

body {
    font-family: 'Open Sans', sans-serif;
 }

header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1249px;
    background: #000000;
    min-height: 89px;
}

.items-header {
    width: 100%;
    height: 100%;
}

.services {
    min-height: 89px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.services li{
    height: 89px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.service {
    padding: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.49px;
    color: #E0E0E0;
    display: flex;
    align-items: center;
}

.service:hover {
    background: #FF3F40;
}


main {
    min-height: calc(100vh - 113px);
    margin-left: auto;
    margin-right: auto;
    max-width: 1579px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-section {
    max-width: 1253px;
    min-height: 259px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}


.header1-main {
    margin-top: 78px;
    margin-bottom: 0px;
    max-width: 618px;
    min-height: 100px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 1.5px;
}

.p-main {
    margin-top: 14px;
    margin-bottom: 77px;
    max-width: 544.85px;
    min-height: 73px;
    font-size: 15.99px;
    font-weight: 400;
}

.div-text > a{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    background: #FF2D2D;
    padding: 14.39px 63px;
    text-decoration: none;
    border-radius: 5px;
}

.img-office {
    margin-top: 103px;
    flex: 0 1 550px;
}

.img-office > img {
    width: 100%;
    height: 100%;
}

footer {
    background: #313030;
    margin-left: auto;
    margin-right: auto;
    min-height: 113px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copy-text {
    color:  #B8B8B8;
}

.logo-footer > a {
    text-decoration: none;
}

.logo-img {
    padding-right: 18px;
}

@media (max-width: 600px) {
    body {
        min-width: 350px;
    }
    .service {
        padding: 0 10px;
    }
    .div-text {
        min-width: 350px;
        word-wrap: break-word;
    }
    .img-office {
        flex-wrap: wrap;
    }
}